# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Node
node_modules/
npm-debug.log
package-lock.json

# Capacitor / Android
android/.gradle/
android/build/
android/app/build/

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Logs
*.log